services:
  guard:
    environment:
      NCG_MASTER_KEY_FILE: /run/secrets/ncg_master_key
      NCG_INITIAL_ADMIN_PASSWORD_FILE: /run/secrets/ncg_initial_admin_password
    secrets:
      - ncg_master_key
      - ncg_initial_admin_password

secrets:
  ncg_master_key:
    file: ${NCG_MASTER_KEY_HOST_FILE:?NCG_MASTER_KEY_HOST_FILE is required}
  ncg_initial_admin_password:
    file: ${NCG_INITIAL_ADMIN_PASSWORD_HOST_FILE:?NCG_INITIAL_ADMIN_PASSWORD_HOST_FILE is required}
